/* Reset */
body, h1, h2, h3, p, ul {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: Georgia, serif;
	color: #252525;
}

* {
	box-sizing: border-box;
}

/* Menu */
.menu {
  background: #252525;
  padding: 15px 0;
}

.menu-nav a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 1.125em;
}

.menu-nav ul {
  float: right;
  list-style: none;
}

.menu-nav ul li {
  display: inline-block
}

.menu-nav ul li a {
  display: inline-block;
  padding: 10px;
  margin-left: 10px;
}

/* Introduction */
.introduction {
	background: url('../images/bg-intro.jpg') no-repeat center center;
	background-size: cover;
  color: #FFFFFF;
  padding: 150px 0;
  text-align: center;
}

.introduction h1 {
	text-transform: uppercase;
  font-size: 3em;
  font-weight: bold;
}

.introduction h1::after {
	content: '';
	display: block;
	width: 20px;
	height: 4px;
  background: #FFFFFF;
  margin: 20px auto
}

.introduction p {
	font-style: italic;
	font-size: 1.125em;
}

/* About */
.about {
  padding-top: 60px;
  padding-bottom: 60px;
}

.about h2 {
  font-size: 2.25em;
  text-align: center;
  margin-bottom: 60px;
  font-weight: bold;
}

.about-item img {
  display: block;
  max-width: 100%;
}

.about-item h3 {
	font-size: 2.25em;
	line-height: 1em;
	background: #252525;
	color: #FFFFFF;
	font-style: italic;
	font-weight: normal;
	text-align: center;
  position: relative;
  width: 220px;
  padding: 5px 0 10px 0;
  top: -25px;
}

.about > p {
	font-size: 1.125em;
	line-height: 1.4em;
  font-style: italic;
  margin: 20px auto;
  max-width: 460px;
  text-align: center;
}

/* Products */
.products {
	background: #E7E4D8;
	border-top: 3px solid #D6D3C8;
  border-bottom: 3px solid #D6D3C8;
  padding-top: 60px;
  padding-bottom: 60px;
}

.products-item {
  margin-bottom: 40px;
}

.products-item h2 {
  font-size: 2.25em;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.products-item h2::before {
	content: '';
	display: block;
	width: 100px;
	height: 100px;
	background: currentColor;
	border-radius: 50%;
	border: 5px solid #E7E4D8;
  box-shadow: 0 0 0 5px currentColor;
  margin: 20px auto;
}

h2.products-paulista::before {
	color: #492901;
}

h2.products-carioca::before {
	color: #C17139;
}

h2.products-mineiro::before {
	color: #D7A54D;
}

.products-item p {
	font-size: 0.875em;
	line-height: 1.4em;
}

.products-button {
	border: 3px solid #252525;
	color: #252525;
	text-decoration: none;
	text-align: center;
	font-size: 1.125em;
	font-weight: bold;
  text-transform: uppercase;
  width: 180px;
  display: block;
  margin: 20px auto 0 auto;
  padding: 15px 0;
}

.products-button:hover {
  text-decoration: none;
  color: #C17139;
  border-color: #C17139;
}

/* Locations */
.locations {
  padding-top: 60px;
  padding-bottom: 60px;
}

.location-item {
  margin-bottom: 40px;
}

.location-item img {
    display: block;
    max-width: 100%;
}

.location-item h2 {
  font-size: 2.25em;
  margin-bottom: 20px;
  font-weight: bold;
}

.location-item p {
	font-size: 1.125em;
  line-height: 1.4em;
  max-width: 320px;
  margin-bottom: 20px;
}

.location-item a {
	font-size: 1.125em;
	text-transform: uppercase;
	text-decoration: none;
	border: 3px solid;
  color: #252525;
  padding: 10px 20px;
}

/* Newsletter */
.newsletter {
  background: #E7E4D8;
  padding-top: 30px;
  padding-bottom: 30px;
}

.newsletter-info h2 {
  font-size: 2.25em;
  font-weight: bold;
}

.newsletter-info p {
	font-size: 1.5em;
	font-style: italic;
}

.newsletter form label {
	display: none;
}

.newsletter form {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.newsletter input {
	border: 3px solid #252525;
	background: none;
	font-size: 1.5em;
	font-style: italic;
  font-family: Georgia, serif;
  align-self: flex-start;
  padding: 10px;
}

.newsletter button {
	background: #252525;
	border: none;
	font-family: Georgia, serif;
	text-transform: uppercase;
	font-size: 1.5em;
	color: #FFFFFF;
  cursor: pointer;
  align-self: flex-start;
  padding: 13px;
}

/*Footer*/
.footer {
  background: #D6D3C8;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer p {
	font-size: 1.125em;
	line-height: 1.4em;
}

.footer img {
  float: right;
}

@media (max-width: 768px) {
  .menu-nav ul {
    float: none;
  }

  .menu-nav ul li a {
    padding-left: 0px;
    margin-left: 0px;
  }

  .introduction {
    padding: 60px 0;
  }

  .footer img {
    float: none;
    margin-top: 20px;
  }
}